body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #121212;
  color: gray;
}

button {
  background-color: #0e4f8c;
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  padding: 5px 10px;
  margin: 5px;
  font-weight: bold;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  border-bottom: .5px solid #121212;
  margin-bottom: 10px;
}

.header-logo {
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.components {
  border-color: #1f1b24;
  margin: 3px;
  border-radius: 10px;
  background-color: #1f1b24;
  text-align: center;
}

.dropdowns {
  display: flex;
  justify-content: flex-end;
}

.dropdowns button {
  background-color: #ff8505;
  border-radius: 0px;
  margin-bottom: 0px;
}

.dropdown-menu {
  /* border-radius: 0px 0px 5px 5px; */
  background-color: gray;
  opacity: 0.9;
  position: absolute;
  z-index: 2;
  margin: 0px 5px 5px;
}

.dropdown-item {
  font-weight: bold; 
  text-decoration: none;
  color: black;
}

.dropdown-div {
  padding: 5px;
  color: black;
  font-weight: bold;
}

.dropdown-div:hover {
  background-color: whitesmoke;
}
.dropdown-div:active {
  color: #ff8505;
}

#timeMenu {
  width: 95.33px;
}

#stepMenu {
  width: 48.89px;
}

.chart-container {
  padding-bottom: 20px;
}
.table {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

td {
  margin: 0;
  padding-bottom: 10px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 10px;
  /* border-bottom: 0.5px solid rgb(100, 100, 117, 0.5); */
}

tr:nth-of-type(odd) {
  background-color: #25212c;
}
tr > th {
  background-color: #1f1b24;
  padding-bottom: 10px;
}

.recharts-wrapper {
  margin: 0 auto;
}

#CPU {
  width: 750px;
}

#disk-usage {
  width: 750px;
}

#clusterInfo {
  width: 500px;
}
#memory {
  width: 500px;
}

#loading {
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media screen and (max-width: 1280px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }
  #clusterInfo {
    width: 750px;
    order: 2;
  }
  #memory {
    width: 750px;
    order: 1;
  }
}
