.main-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-family: Roboto, sans-serif;
}

body {
  background-color: #121212;
  color: rgb(48, 48, 70);
}

button {
  background-color: white;
}

.components {
  border-color: 1f1b24;
  margin: 3px;
  border-radius: 10px;
  background-color: #1f1b24;
  text-align: center;
}

#pieChart {
  padding-left: 38px;
}

#barChart {
  padding-left: 30px;
}

#loading{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.recharts {
  font-size: 1 rem;
  font-family: Roboto, sans-serif;
  color: white;
}
